<form ng-submit="$root.add()">
    <input class="todoTextBox" type="text" placeholder="To do" ng-model="$root.task">
    <button class="addBtn" type="submit">Add +</button>
    <span ng-bind="compeleted"></span>/<span ng-bind="taskListLength"></span>

</form>

<div ng-show="taskListLength!=0" class="links">
    <a href="#/All">All</a>
    <a href="#/Done">Done</a>
    <a href="#/Undone">Undone</a>
</div>
<div class="taskForm">
    <ul>
        <li ng-repeat="task in taskList track by $index">
            <input type="checkbox" ng-click="$root.toggle(task.id)" ng-model="task.done">
            <label ng-bind="task.task"></label>
            <button class="removeBtn" type="button" ng-click="$root.remove(task.id)">X</button>
        </li>
    </ul>

</div>
<button class="logOutBtn" ng-click="$root.logOut()"> Log Out</button>

