<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>To do App</title>
  </head>

  <body ng-app="Liwam">
    <div ng-show="loggedIn">
        <form ng-submit="add()">
          <input type="text" placeholder="To do" ng-model="task">
          <button type="submit">Add +</button>
          <span ng-bind="compeleted"></span>/<span ng-bind="taskListLength"></span>
        </form>

        <div>
          <a href="#/All">All</a>
          <a href="#/Done">Done</a>
          <a href="#/Undone">Undone</a>
        </div>

        <ng-view></ng-view>

        <button ng-click="logOut()"> Log Out</button>
    </div>
    <div ng-show="!loggedIn">
        <form ng-submit=logIn()>
          <label> User Name </label><input type="text" ng-model="userName" placeholder="Type in user name">
          <br><br>
          <label> Password  </label><input type="text" ng-model="password" placeholder="Type in password">
          <br><br>
          <button type="submit">Log In</button>
        </form>
    </div>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="localforage.min.js"></script>
    <script type="text/javascript" src="angular-route.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="Todo.service.js"></script>
    <script type="text/javascript" src="Authenticate-service.js"></script>
  </body>
</html>
