
form {
    display: flex;
    font-size: 16px;
    flex-flow:column wrap;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    border: 1px solid  #b2babb;
    flex: 0 0 auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;

}
div{
    flex-flow: row ;
    flex: 1 0 50%;
}
.btn {
    color: #283747 ;
    background-color: #2980b9;
    padding: 0.9em 2.5em;
    border-radius: 0.5em;
    border-color: #AA99AA;
    margin-top: 1em;
    align-self: center;
    user-select: none;
}

.btn:active {
    transform: scale(0.97);
}

.btn:hover {
    background-color: #1f618d;
}

.btn:disabled {
    background-color: #b3b6b7;
    color: white;
}

input {
    padding: 0.5em;
    border-color: #AA99AA;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
}

 input:active {
    background-color: #ecf0f1;
}

 label {
    margin-right: 1em;
}
